* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

dl {
  width: 200px;
  border: 1px solid #000;
  padding: 5px 15px;
}
dt, dd {
  display: inline;
}
.vacant-seat-legend {
  background-color: #90EE90;
}
.booked-seat-legend {
  background-color: red;
}

.matrix td {
  border: 1px black solid;
  padding: 0.75rem;
}

.booked-seat {
  background-color: red;
}

.vacant-seat {
  background-color: #90EE90;
}

@media screen and (max-width: 768px) {
  .main-wrapper {
    flex-direction: column;
  }
}